.timeline
  counter-reset: timeline
  width: 100%
  display: flex
  align-items: center
  position: relative
  
  li
    height: 5px
    flex-grow: 1
    background: #4ea31e
    position: relative    
    &:before
      counter-increment: timeline
      content: "Step " counter(timeline)
      position: absolute
      z-index: 1
      bottom: 15px
      left: 50%
      transform: translateX(-50%)
      white-space: nowrap    
    &:after
      content: ''
      display: block
      width: 10px
      height: 10px
      border-radius: 50%
      background: #4ea31e
      position: absolute
      z-index: 10
      left: 0
      top: 50%
      transform: translateY(-50%) translateX(-50%)
            
  &:after
    content: ''
    display: block
    width: 10px
    height: 10px
    border-radius: 50%
    background: green
    position: absolute
    z-index: 10
    right: 0
    top: 50%
    transform: translateY(-50%) translateX(50%)

  // STATES
  &[data-text-position="down"]
    li
      &:before
        bottom: -30px

  &[data-progress="start"]
    li
      background: grey
      &:after
        background: white
        border: 1px solid grey
      &.timeline__progress
        background: grey
        &:after
          background: white
        & ~ li
          background: grey
        & ~ li:after
          background: white
          border: none
    &:after
      background: white
      border: 1px solid grey
  
  &[data-progress="progress"]
    li
      &.timeline__progress
        background: orange
        &:after
          background: orange 
        & ~ li
          background: grey
          &:after
            background: white
            border: 1px solid grey
    &:after
      background: white
      border: 1px solid grey
  
  &[data-view="point"]
    &:after
      display: none
    li
      &:before
        left: 0
      &:first-child
        &:before
          left: 0
          transform: translateX(0)
      &:last-child
        flex-grow: 0
        &:before
          transform: translateX(-100%)
    &[data-progress="start"]
      li:last-child:after
        background: white
        border: 1px solid grey
    &[data-progress="progress"]
      li
        &.timeline__progress
          background: grey
