=point
  content: ''
  display: block
  width: 18px
  height: 18px
  background: $complete_color
  border-radius: 50%
  border: 2px solid #fff
  
=grey-point
  background: radial-gradient(#fff 0px, #fff 4.5px, $start_color 4.5px, $start_color)
  width: 18px
  height: 18px
  border: 2px solid #fff

.timeline
  counter-reset: timeline
  height: 80px
  width: 100%
  display: flex
  align-items: center
  position: relative
  margin-bottom: 50px
  
  li
    height: 3px
    flex-grow: 1
    background: $complete_color
    position: relative    
    &:before
      counter-increment: timeline
      content: attr(data-title) " " counter(timeline)
      position: absolute
      z-index: 1
      bottom: 15px
      left: calc(50% + 11px)
      transform: translateX(-50%)
      white-space: nowrap     
    &:after
      left: 0
    &:first-child:after
      left: -0.5px  
  &:after
    right: -0.5px
  li:after,
  &:after
    position: absolute
    top: 50%
    transform: translateY(-50%)
    +point


  // STATES
  &[data-text-position="down"]
    li
      &:before
        bottom: -30px

  &[data-progress="start"]
    li
      background: $start_color
    li:not(:first-child):after,
    &:after
      +grey-point
    li:first-child:after
      background: $progress_color
  
  &[data-progress="progress"]
    li.timeline__progress,
    li.timeline__progress:after
      background: $progress_color
    li.timeline__progress ~ li
      background: $start_color      
    &:after,
    li.timeline__progress ~ li:after
      +grey-point
  
  &[data-view="point"]
    &:after
      display: none
    li
      &:before
        left: 11px
      &:last-child
        flex-grow: 0
        &:before,
        &:after
          left: inherit
          right: -0.5px
        &:before
          transform: translateX(0)
      &:first-child
        &:before
          left: 0
          transform: translateX(0)       
    &[data-progress="progress"]
      li
        &.timeline__progress
          background: $start_color


  &-control
    display: flex
    align-items: center
    justify-content: center

    .checkbox
      margin-right: 40px
    
    &__steps
      display: flex
      align-items: center
    
    &__btn
      width: 30px
      height: 30px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      border: 1.5px solid $start_color
      flex-shrink: 0
      color: $start_color
      font-size: 20px
      cursor: pointer

    &__count
      color: #424242
      font-family: $main_font
      font-size: 18px
      font-weight: 400
      line-height: 20px
      margin: 0 10px
